body{
    margin: 0px;
    height: 100vh;
}
.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-text{
    font-family: cursive;
    font-size: xx-large;
}

.nav{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightblue;
    border: 2px solid black;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 5px;
    background-color: grey;
    height: 100%;
}

.blog-name{
    font-family: Arial;
    font-size: xx-large;
}

.comments{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.comment{
    border: 2px solid lightblue;
    background-color: white;
    width: 300px;
}

.comment-user{
    border-bottom: 2px dotted black;
}

.comment-content{
    overflow-wrap: break-word;
}