<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/page.css') }}">
</head>
<body>
    <div class="page">
        <div class="nav">
            <div class="main-text">Home</div>
        </div>
        <div class="content">
            <div class="blog-name">
                Why OOP Sucks?
            </div>
            <div class="blog-form">
                <form id="blogform" method="post">
                    {{ blogform.user.label }}
                    {{ blogform.user }}
                    {{ blogform.text.label }}
                    {{ blogform.text }}
                    {{ blogform.submit }}
                </form>
            </div>
            <div class="comments">
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-user">
                            {{comment["user"]}}
                        </div>
                        <div class="comment-text">
                            {{comment["text"]}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>