<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/page.css') }}">
</head>
<body>
    <div class="page">
        <div class="nav">
            <div class="main-text">Home</div>
        </div>
        <div class="content">
            <div class="blog-name">
                Why OOP Sucks?
            </div>
            <div class="blog-form">
                <form id="blogform">
                    <label for="comment-txt">Text</label>
                    <input type="text" class="comment-txt" name="comment-txt" id="text">
                    <label for="comment-usr">User</label>
                    <input type="text" class="commment-usr" name="comment-usr" id="user">
                    <input type="submit" value="Post">
                </form>
            </div>
            <div class="comments" id="comments">
                {% for comment in comments %}

                {% endfor %}
                <div class="comment">
                </div>
            </div>
        </div>
    </div>
    <script src="page.js"></script> 
</body>
</html>